body { padding-top: 50px; }

div.orig {
	display:none;
}

pre {
	margin-bottom: 0;
}

div.code-links a:link,
div.code-links a:visited {
	color: #999;
}

ul.list-inline {
	margin-left: 8px;
}

/*
.navbar-default .navbar-nav>li>a:link,
.navbar-default .navbar-nav>li>a:visited {
	color: #428bca;
	font-weight: bold;
	text-decoration: none;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #2a6496;
	text-decoration: underline;
}

.navbar-default .navbar-nav>li>a.dropdown-toggle:link,
.navbar-default .navbar-nav>li>a.dropdown-toggle:visited {
	color: #428bca;
}

.navbar-default .navbar-nav>li>a.dropdown-toggle:hover,
.navbar-default .navbar-nav>li>a.dropdown-toggle:focus {
	color: #2a6496;
	text-decoration: none;
}
*/

footer {
	/*border-top: solid 1px #999;*/
	padding-top: 20px;
	margin: 9px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 0;
}

.table-striped > tbody > tr.featureset > th {
	background-color: rgb(238, 238, 238);
}

.table {
	width: inherit;
	max-width: none;
	table-layout: fixed;
}

div.tdwrapper {
	margin: 10px 0;
}

.feature div.tdwrapper {
	width: 200px;
}

.toolfeature-fixed div.tdwrapper {
	width: 350px;
}

.table>tbody>tr>th {
	padding-top: 15px;
}

.table>tbody>tr>th.btncell {
	padding-top: 8px;
}
