body { padding-top: 50px; }

div.orig {
	display:none;
}

pre {
	margin-bottom: 0;
}

div.code-links {
	padding-bottom: 10px;
}

div.code-links a:link,
div.code-links a:visited {
	color: #999;
}

ul.list-inline {
	margin-left: 8px;
}

.navbar-default .navbar-nav>li>a:link,
.navbar-default .navbar-nav>li>a:visited {
	color: #428bca;
	font-weight: bold;
	text-decoration: none;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #2a6496;
	text-decoration: underline;
}